cccev/2.0.0/xml/xsd/cccev-2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="https://semic.org/sa/cv/cccev-2.0.0#" xmlns:dcat-ap="http://data.europa.eu/r5r/"
	xmlns:cac="https://semic.org/sa/cv/common/cac-2.0.0#"
	xmlns:cbc="https://semic.org/sa/cv/common/cbc-2.0.0#"
	xmlns:ccts="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2"
	xmlns:an="https://semic.org/sa/cv/common/semic-annot-2.0.0#"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cagv="https://semic.org/sa/cv/cagv/agent-2.0.0#" xmlns:foaf="http://xmlns.com/foaf/0.1/"
	targetNamespace="https://semic.org/sa/cv/cccev-2.0.0#" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="2.0.0">

	<xsd:import namespace="https://semic.org/sa/cv/common/cac-2.0.0#"
		schemaLocation="../../../../common/2.0.0/xml/xsd/CV-CommonAggregateComponents.xsd"/>
	<xsd:import namespace="https://semic.org/sa/cv/common/cbc-2.0.0#"
		schemaLocation="../../../../common/2.0.0/xml/xsd/CV-CommonBasicComponents.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2"
		schemaLocation="../../../../common/2.0.0/xml/xsd/CCTS_CCT_SchemaModule-2.3.xsd"/>
	<xsd:import namespace="http://data.europa.eu/r5r/"
		schemaLocation="../../../../dcat-ap/2.0.0/xml/dcat-ap.xsd"/>
	<xsd:import namespace="https://semic.org/sa/cv/cagv/agent-2.0.0#"
		schemaLocation="../../../../cagv/2.0.0/xml/xsd/CV-Agent.xsd"/>
	<xsd:import namespace="http://xmlns.com/foaf/0.1/"
		schemaLocation="../../../../foaf/xml/foaf.xsd"/>

	<!-- Declaration of elements -->

	<!-- Data properties declarations -->
	<xsd:element name="amountValue" type="cbc:AmountType"/>
	<xsd:element name="associatedRoleType" type="cbc:CodeType"/>
	<xsd:element name="bias" type="cbc:NumericType"/>
	<xsd:element name="codeValue" type="cbc:CodeType"/>
	<xsd:element name="copyIndicator" type="cbc:IndicatorType"/>
	<xsd:element name="confidentialityLevel" type="cbc:CodeType"/>
	<xsd:element name="conformantTo" type="cbc:IDReferenceType"/>
	<xsd:element name="constraintOn" type="cbc:IDReferenceType"/>
	<xsd:element name="representsConcept" type="cbc:IDReferenceType"/>
	<xsd:element name="customDataType" type="cbc:CodeType"/>
	<xsd:element name="customFunction" type="cbc:TextType"/>
	<xsd:element name="dataSetType" type="cbc:CodeType"/>
	<xsd:element name="dateValue" type="cbc:DateType"/>
	<xsd:element name="documentDescription" type="cbc:DescriptionType"/>
	<xsd:element name="documentType" type="cbc:TextType"/>
	<xsd:element name="documentURI" type="cbc:IDType"/>
	<xsd:element name="error" type="cbc:CodeType"/>
	<xsd:element name="identifierValue" type="cbc:IDType"/>
	<xsd:element name="indicatorValue" type="cbc:IndicatorType"/>
	<xsd:element name="inEvidenceTypeList" type="cbc:IDReferenceType"/>
	<xsd:element name="partOf" type="cbc:IDReferenceType"/>
	<xsd:element name="issueDate" type="cbc:DateType"/>
	<xsd:element name="issueTime" type="cbc:TimeType"/>
	<xsd:element name="valueOf" type="cbc:IDReferenceType"/>
	<xsd:element name="languageID" type="cbc:IDType"/>
	<xsd:element name="localeCode" type="cbc:CodeType"/>
	<xsd:element name="measureValue" type="cbc:MeasureType"/>
	<xsd:element name="numericValue" type="cbc:NumericType"/>
	<xsd:element name="quantityValue" type="cbc:QuantityType"/>
	<xsd:element name="evidenceTypology" type="cbc:CodeType"/>
	<xsd:element name="statusCode" type="cbc:CodeType"/>
	<xsd:element name="supportsRequirement" type="cbc:IDReferenceType"/>
	<xsd:element name="supportsConcept" type="cbc:IDReferenceType"/>
	<xsd:element name="textValue" type="cbc:TextType"/>
	<xsd:element name="timeValue" type="cbc:TimeType"/>
	<xsd:element name="uriValue" type="cbc:URIType"/>
	<xsd:element name="valueIDRef" type="cbc:IDType"/>
	<xsd:element name="versionID" type="cbc:IDType"/>
	<xsd:element name="weight" type="cbc:NumericType"/>
	<xsd:element name="weightingConsiderationDescription" type="cbc:DescriptionType"/>
	<xsd:element name="weightingType" type="cbc:CodeType"/>
	<xsd:element name="xPath" type="cbc:TextType"/>

	<!-- Object properties -->

	<xsd:element name="derivedFrom" type="ReferenceFrameworkType"/>	
	<xsd:element name="concept" type="ConceptType"/>
	<xsd:element name="evidence" type="EvidenceType"/>	
	<xsd:element name="specifies" type="EvidenceTypeType"/>
	<xsd:element name="evidenceTypeCombinationList" type="EvidenceTypeListType"/>
	<xsd:element name="constraint" type="ConstraintType"/>
	<xsd:element name="providedBy" type="cbc:IDReferenceType"/>
	<xsd:element name="qualifiedRelation" type="dcat-ap:RelationshipType"/>
	<xsd:element name="requirement" type="RequirementType"/>
	<xsd:element name="value" type="ValueType"/>
	<xsd:element name="periodValue" type="cac:PeriodType"/>
	<xsd:element name="validityPeriod" type="cac:PeriodType"/>
	<xsd:element name="specifiedIn" type="ConceptType"/>

	<!-- Class declarations -->
	
	<xsd:element name="Concept" type="ConceptType"/>
	<xsd:element name="Constraint" type="ConstraintType"/>
	<xsd:element name="Criterion" type="CriterionType"/>
	<xsd:element name="DocumentReference" type="DocumentReferenceType"/>
	<xsd:element name="EvidenceTypeList" type="EvidenceTypeListType"/>
	<xsd:element name="InformationRequirement" type="InformationRequirementType"/>
	<xsd:element name="PeriodValue" type="cac:PeriodType"/>
	<xsd:element name="ReferenceFramework" type="ReferenceFrameworkType"/>
	<xsd:element name="Requirement" type="RequirementType"/>
	<xsd:element name="Value" type="ValueType"/>

	<!-- Element definition -->

	<xsd:complexType name="ConceptType">
		<xsd:annotation>
			<xsd:documentation>
				<an:Class>
					<ccts:ComponentType>Class</ccts:ComponentType>
					<ccts:DictionaryEntryName>Concept. Details</ccts:DictionaryEntryName> <!--should we indecate the prefix? in the class Constraint it is indicated.
																								if so, the axioms should have the prefix as well.-->
					<ccts:Definition> </ccts:Definition>
					<DefinitionSource/>
					<ccts:ObjectClass>cccev: Concept</ccts:ObjectClass> <!--should we indecate the prefix? in the class Constraint it is indicated.
																								if so, the axioms should have the prefix as well.-->
				</an:Class>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. identifier</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..*</ccts:Cardinality>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>	<!--indicate prefix in the datatypes? dfference with representation term?-->
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>ID. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:name" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. name</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<ccts:PropertyTerm>Text</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:description" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. description</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..*</ccts:Cardinality>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<ccts:PropertyTerm>Text</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Description. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. type</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<ccts:PropertyTerm>Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Type. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:qName" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. QName</ccts:DictionaryEntryName>
							<ccts:Definition>
								Standing for ‘qualified name’. Mechanism used to identify concisely and unambiguously an entity, i.e. a class or a property.
								
								Additional information:
								Qualified names are pairs of {namespace URI, entity local name} where the namespace URI is usually replaced by a ‘prefix’, as in cccev:Criterion, xsd:int, or dcat:Dataset.
								<DefinitionSource>Based on the W3C definition of QNames for XML: https://www.w3.org/2001/tag/doc/qnameids.html#sec-qnames-other</DefinitionSource>
							</ccts:Definition>
							<ccts:Cardinality>0..*</ccts:Cardinality>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<ccts:PropertyTerm>anySimpleType</ccts:PropertyTerm>
							<ccts:RepresentationTerm>anySimpleType</ccts:RepresentationTerm>
							<ccts:DataType>qName. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="constraint" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. constraint</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<Domain>Concept</Domain>
							<Range>Constraint</Range>
							<Predicate>hasConstraint</Predicate>
							<Axiom>owl:inverseOf :isConstraintOn</Axiom>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="value" minOccurs="0" maxOccurs="unbounded"> <!--we have two predicates that are the same with different domain/range-->
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. value</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<Domain>Concept</Domain>
							<Range>Value</Range>
							<Predicate>hasValue</Predicate>
							<Axiom>owl:inverseOf :isValueOf</Axiom>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="concept" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. concept</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<Domain>Concept</Domain>
							<Range>Concept</Range>
							<Predicate>hasConcept</Predicate>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="cac:ThingAttributes"/>
	</xsd:complexType>

	<xsd:complexType name="ConstraintType">
		<xsd:complexContent>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					<an:Class>
						<ccts:ComponentType>Class</ccts:ComponentType>
						<ccts:DictionaryEntryName>cccev:Constraint. Details</ccts:DictionaryEntryName> <!--i would remove cccev:-->
						<ccts:Definition>
							<DefinitionSource/>
						</ccts:Definition>
						<ccts:ObjectClass>Constraint</ccts:ObjectClass>
						<PrimitiveClass>RequirementType</PrimitiveClass>
					</an:Class>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:extension base="RequirementType">
				<xsd:sequence>
					<xsd:element ref="constraintOn" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<ObjectProperty>
									<ccts:ComponentType>Object property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Constraint. constraintOn</ccts:DictionaryEntryName>
									<ccts:Definition/>
									<ccts:ObjectClass>Constraint</ccts:ObjectClass>
									<Domain>Constraint</Domain>
									<Range>Concept</Range>
									<Predicate>isConstraintOn</Predicate>
									<Axiom>owl:inverseOf :hasConstraint</Axiom>
								</ObjectProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CriterionType">
		<xsd:complexContent>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					<an:Class>
						<ccts:ComponentType>Class</ccts:ComponentType>
						<ccts:DictionaryEntryName>Criterion. Details</ccts:DictionaryEntryName>
						<ccts:Definition>
							<DefinitionSource/>
						</ccts:Definition>
						<ccts:ObjectClass>Criterion</ccts:ObjectClass>
						<PrimitiveClass>RequirementType</PrimitiveClass>
					</an:Class>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:extension base="RequirementType">
				<xsd:sequence>
					<xsd:element ref="weight" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Criterion. weight</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..1</ccts:Cardinality>
									<ccts:ObjectClass>Criterion</ccts:ObjectClass>
									<ccts:PropertyTerm>Numeric</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
									<ccts:DataType>Numeric. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="weightingConsiderationDescription" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Criterion. weighting Consideration Description</ccts:DictionaryEntryName> <!-- with spaces or without? I would say weightingConsiderationDescription-->
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..*</ccts:Cardinality>
									<ccts:ObjectClass>Criterion</ccts:ObjectClass>
									<ccts:PropertyTerm>Text</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
									<ccts:DataType>Description. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="weightingType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Criterion. weighting Type</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..1</ccts:Cardinality>
									<ccts:ObjectClass>Criterion</ccts:ObjectClass>
									<ccts:PropertyTerm>Code</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
									<ccts:DataType>Code. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="bias" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Criterion. bias</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..*</ccts:Cardinality>
									<ccts:ObjectClass>Concept</ccts:ObjectClass>
									<ccts:PropertyTerm>NumericType</ccts:PropertyTerm>
									<ccts:RepresentationTerm>NumericType</ccts:RepresentationTerm>
									<ccts:DataType>Numeric. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DocumentReferenceType">
		<xsd:complexContent>
			<xsd:annotation>
				<xsd:documentation>
					<an:Class>
						<ccts:ComponentType>Class</ccts:ComponentType>
						<ccts:DictionaryEntryName>DocumentReference. Details</ccts:DictionaryEntryName>
						<ccts:Definition>A reference to a concrete manifestation of a document, or the content of the document itself.</ccts:Definition>
						<ccts:ObjectClass>DocumentReference</ccts:ObjectClass>
					</an:Class>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:extension base="dcat-ap:DistributionType">
				<xsd:sequence>
					<xsd:element ref="cbc:binaryObject" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>DocumentReference. binary Object</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..1</ccts:Cardinality>
									<ccts:ObjectClass>DocumentReference</ccts:ObjectClass>
									<ccts:PropertyTerm></ccts:PropertyTerm>
									<ccts:RepresentationTerm>BinaryObject</ccts:RepresentationTerm>
									<ccts:DataType>BinaryObject. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>DocumentReference. identifier</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..*</ccts:Cardinality>
									<ccts:ObjectClass>DocumentReference</ccts:ObjectClass>
									<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
									<ccts:DataType>ID. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="associatedRoleType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>DocumentReference. associated role type</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..*</ccts:Cardinality>
									<ccts:ObjectClass>DocumentReference</ccts:ObjectClass>
									<ccts:PropertyTerm>Code</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
									<ccts:DataType>Code. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="documentURI" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>DocumentReference. document URI</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..*</ccts:Cardinality>
									<ccts:ObjectClass>DocumentReference</ccts:ObjectClass>
									<ccts:PropertyTerm>anyURI</ccts:PropertyTerm>
									<ccts:RepresentationTerm>anyURI</ccts:RepresentationTerm>
									<ccts:DataType>URI. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="copyIndicator" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>DocumentReference. copy Indicator</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..1</ccts:Cardinality>
									<ccts:ObjectClass>DocumentReference</ccts:ObjectClass>
									<ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
									<ccts:DataType>Indicator. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="statusCode" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>DocumentReference. status Code</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..1</ccts:Cardinality>
									<ccts:ObjectClass>DocumentReference</ccts:ObjectClass>
									<ccts:PropertyTerm>Code</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
									<ccts:DataType>Code. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="validityPeriod" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<ObjectProperty>
									<ccts:ComponentType>Object property</ccts:ComponentType>
									<ccts:DictionaryEntryName>DocumentReference. validity Period</ccts:DictionaryEntryName> 
									<ccts:Definition/>
									<ccts:ObjectClass>DocumentReference</ccts:ObjectClass>
									<Domain>DocumentReference</Domain>
									<Range>Period</Range>
									<Predicate>hasValidityPeriod</Predicate>
								</ObjectProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EvidenceType">
		<xsd:complexContent>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					<an:Class>
						<ccts:ComponentType>Class</ccts:ComponentType>
						<ccts:DictionaryEntryName>Evidence. Details</ccts:DictionaryEntryName>
						<ccts:Definition>
							<DefinitionSource/>
						</ccts:Definition>
						<ccts:ObjectClass>Evidence</ccts:ObjectClass>
						<PrimitiveClass>dcat-ap:Dataset</PrimitiveClass>
					</an:Class>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element ref="confidentialityLevel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Evidence. confidentiality Level</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..1</ccts:Cardinality>
									<ccts:ObjectClass>Evidence</ccts:ObjectClass>
									<ccts:PropertyTerm>Code</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
									<ccts:DataType>Code. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="error" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Evidence. error</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..*</ccts:Cardinality>
									<ccts:ObjectClass>Evidence</ccts:ObjectClass>
									<ccts:PropertyTerm>Code</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
									<ccts:DataType>Code. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="conformantTo" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<ObjectProperty>
									<ccts:ComponentType>Object property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Evidence. conformant To</ccts:DictionaryEntryName>
									<ccts:Definition/>
									<ccts:ObjectClass>Evidence</ccts:ObjectClass>
									<Domain>Evidence</Domain>
									<Range>EvidenceType</Range>
									<Predicate>isConformantTo</Predicate>
								</ObjectProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="supportsRequirement" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<ObjectProperty>
									<ccts:ComponentType>Object property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Evidence. supports Requirement</ccts:DictionaryEntryName>
									<ccts:Definition/>
									<ccts:ObjectClass>Evidence</ccts:ObjectClass>
									<Domain>Evidence</Domain>
									<Range>Requirement</Range>
									<Predicate>supportsRequirement</Predicate> <!--or: supports-->
									<Axiom>owl:inverseOf :hasSupportingEvidence</Axiom>
								</ObjectProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="supportsConcept" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<ObjectProperty>
									<ccts:ComponentType>Object property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Evidence. supports Concept</ccts:DictionaryEntryName>
									<ccts:Definition/>
									<ccts:ObjectClass>Evidence</ccts:ObjectClass>
									<Domain>Evidence</Domain>
									<Range>Concept</Range>
									<Predicate>supportsConcept</Predicate> <!--supports-->
								</ObjectProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="providedBy" minOccurs="0" maxOccurs="unbounded"> <!--UML 0..1-->
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<ObjectProperty>
									<ccts:ComponentType>Object property</ccts:ComponentType>
									<ccts:DictionaryEntryName>Evidence. provided By</ccts:DictionaryEntryName>
									<ccts:Definition/>
									<ccts:ObjectClass>Evidence</ccts:ObjectClass>
									<Domain>Evidence</Domain>
									<Range>Agent</Range>
									<Predicate>isProvidedBy</Predicate> 
								</ObjectProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EvidenceTypeListType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<an:Class>
					<ccts:ComponentType>Class</ccts:ComponentType>
					<ccts:DictionaryEntryName>EvidenceTypeList. Details</ccts:DictionaryEntryName>
					<ccts:Definition>
						<DefinitionSource/>
					</ccts:Definition>
					<ccts:ObjectClass>EvidenceType</ccts:ObjectClass>
				</an:Class>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>EvidenceTypeList. identifier</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..*</ccts:Cardinality>
							<ccts:ObjectClass>EvidenceTypeList</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>ID. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="specifies" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>EvidenceTypeList. specifies</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>EvidenceTypeList</ccts:ObjectClass>
							<Domain>EvidenceTypeList</Domain>
							<Range>EvidenceType</Range>
							<Predicate>specifiesEvidenceType</Predicate>
							<Axiom>owl:inverseOf :isSpecifiedIn</Axiom>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="cac:ThingAttributes"/>
	</xsd:complexType>

	<xsd:complexType name="EvidenceTypeType">
		<xsd:complexContent>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					<an:Class>
						<ccts:ComponentType>Class</ccts:ComponentType>
						<ccts:DictionaryEntryName>EvidenceType. Details</ccts:DictionaryEntryName>
						<ccts:Definition>
							<DefinitionSource/>
						</ccts:Definition>
						<ccts:ObjectClass>EvidenceType</ccts:ObjectClass>
						<PrimitiveClass>dcat-ap:Dataset</PrimitiveClass>
					</an:Class>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element ref="evidenceTypology" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>EvidenceType. evidence Typology</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..1</ccts:Cardinality>
									<ccts:ObjectClass>EvidenceType</ccts:ObjectClass>
									<ccts:PropertyTerm>Code</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
									<ccts:DataType>Code. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="dataSetType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>EvidenceType. dataset Type</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..1</ccts:Cardinality>
									<ccts:ObjectClass>EvidenceType</ccts:ObjectClass>
									<ccts:PropertyTerm>Code</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
									<ccts:DataType>Code. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="specifiedIn" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<ObjectProperty>
									<ccts:ComponentType>Object property</ccts:ComponentType>
									<ccts:DictionaryEntryName>EvidenceType. specified In</ccts:DictionaryEntryName>
									<ccts:Definition/>
									<ccts:ObjectClass>EvidenceType</ccts:ObjectClass>
									<Domain>EvidenceType</Domain>
									<Range>EvidenceTypeList</Range>
									<Predicate>isSpecifiedIn</Predicate>
									<Axiom>owl:inverseOf :specifiesEvidenceType</Axiom>
								</ObjectProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="InformationRequirementType">
		<xsd:complexContent>
			<xsd:annotation>
				<xsd:documentation>
					<an:Class>
						<ccts:ComponentType>Class</ccts:ComponentType>
						<ccts:DictionaryEntryName>InformationRequirement. Details</ccts:DictionaryEntryName>
						<ccts:Definition>
							<DefinitionSource/>
						</ccts:Definition>
						<ccts:ObjectClass>InformationRequirement</ccts:ObjectClass>
						<an:PrimitiveClass>RequirementType </an:PrimitiveClass>
					</an:Class>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:extension base="RequirementType">
				<xsd:sequence/>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ReferenceFrameworkType">
		<xsd:complexContent>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					<an:Class>
						<ccts:ComponentType>Class</ccts:ComponentType>
						<ccts:DictionaryEntryName>ReferenceFramework. Details</ccts:DictionaryEntryName>
						<ccts:Definition>
							<DefinitionSource/>
						</ccts:Definition>
						<ccts:ObjectClass>ReferenceFramework</ccts:ObjectClass>
						<PrimitiveClass>dcat-ap:Dataset</PrimitiveClass>
					</an:Class>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								<an:DataProperty>
									<ccts:ComponentType>Data property</ccts:ComponentType>
									<ccts:DictionaryEntryName>ReferenceFramework. Identifier</ccts:DictionaryEntryName>
									<ccts:Definition>
										<DefinitionSource/>
									</ccts:Definition>
									<ccts:Cardinality>0..*</ccts:Cardinality>
									<ccts:ObjectClass>cccev:ReferenceFramework</ccts:ObjectClass>
									<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
									<ccts:DataType>ID. Type</ccts:DataType>
								</an:DataProperty>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RequirementType" abstract="false">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<an:Class>
					<ccts:ComponentType>Class</ccts:ComponentType>
					<ccts:DictionaryEntryName>Requirement. Details</ccts:DictionaryEntryName>
					<ccts:Definition>
						<DefinitionSource/>
					</ccts:Definition>
					<ccts:ObjectClass>Requirement</ccts:ObjectClass>
				</an:Class>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..*</ccts:Cardinality>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>ID. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:name" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. name</ccts:DictionaryEntryName> <!--uppercase or lowercase-->
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..*</ccts:Cardinality>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Text</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:description" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. description</ccts:DictionaryEntryName> 
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..*</ccts:Cardinality>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Text</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Description. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. type</ccts:DictionaryEntryName> 
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. requirement</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<Domain>Requirement</Domain>
							<Range>Requirement</Range>
							<Predicate>hasRequirement</Predicate>
							<Axiom>owl:inverseOf :isPartOfRequirement</Axiom> <!--isPartOF-->
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="concept" minOccurs="0" maxOccurs="unbounded"> <!--isAbout-->
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. concept</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<Domain>Requirement</Domain>
							<Range>Concept</Range>
							<Predicate>isAbout</Predicate>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="evidence" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. evidence</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<Domain>Requirement</Domain>
							<Range>Evidence</Range>
							<Predicate>hasSupportingEvidence</Predicate>
							<Axiom>owl:inverseOf :supportsRequirement</Axiom> <!--supports-->
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="evidenceTypeCombinationList" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. evidence Type Combination List</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<Domain>Requirement</Domain>
							<Range>EvidenceTypeList</Range>
							<Predicate>hasEvidenceTypeCombinationList</Predicate>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="partOf" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. part Of</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<Domain>Requirement</Domain>
							<Range>Requirement</Range>
							<Predicate>isPartOfRequirement</Predicate>
							<Axiom>owl:inverseOf :hasRequirement</Axiom>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="qualifiedRelation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. part Of</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<Domain>Requirement</Domain>
							<Range>dcat-ap:Relationship</Range>
							<Predicate>hasQualifiedRelation</Predicate>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="derivedFrom" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Requirement. derivedFrom</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Requirement</ccts:ObjectClass>
							<Domain>Requirement</Domain>
							<Range>ReferenceFramework</Range>
							<Predicate>isDerivedFrom</Predicate>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="cac:ThingAttributes"/>
	</xsd:complexType>

	<xsd:complexType name="ValueType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<an:Class>
					<ccts:ComponentType>Class</ccts:ComponentType>
					<ccts:DictionaryEntryName>Value. Details</ccts:DictionaryEntryName>
					<ccts:Definition>
						<DefinitionSource/>
					</ccts:Definition>
					<ccts:ObjectClass>Value</ccts:ObjectClass>
				</an:Class>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="amountValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. amount Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="codeValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. code Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="dateValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. date Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Date</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
							<ccts:DataType>Date. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="identifierValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. identifier Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>ID. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="indicatorValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. indicator Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
							<ccts:DataType>Indicator. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="measureValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. measure Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Measure</ccts:PropertyTerm> 
							<ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
							<ccts:DataType>Measure. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="numericValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. numeric Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Numeric</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
							<ccts:DataType>Numeric. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="quantityValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. quantity Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Quantity</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
							<ccts:DataType>Quantity. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="textValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. text Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..*</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Text</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="timeValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. time Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Time</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
							<ccts:DataType>Time. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="uriValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. uri Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>anyURI</ccts:PropertyTerm>
							<ccts:RepresentationTerm>anyURI</ccts:RepresentationTerm>
							<ccts:DataType>URI. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="customDataType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. custom Data Type Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="customFunction" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. custom Function Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>ID. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="error" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<an:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. code Value</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<ccts:PropertyTerm>Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</an:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="periodValue" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. period Value</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<Domain>Value</Domain>
							<Range>cac:Period</Range>
							<Predicate>hasPeriodValue</Predicate>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="valueOf" minOccurs="0" maxOccurs="unbounded">  <!--UML is 0..1-->
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. value Of</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<Domain>Value</Domain>
							<Range>Concep</Range>
							<Predicate>isValueOf</Predicate>
							<Axiom>owl:inverseOf :hasValue</Axiom>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="value" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ObjectProperty>
							<ccts:ComponentType>Object property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Value. value</ccts:DictionaryEntryName>
							<ccts:Definition/>
							<ccts:ObjectClass>Value</ccts:ObjectClass>
							<Domain>Value</Domain>
							<Range>Value</Range>
							<Predicate>hasValue</Predicate>
						</ObjectProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="cac:ThingAttributes"/>
	</xsd:complexType>
</xsd:schema>
