cccev/2.0.0/xml/xsd/cccev-2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="https://semic.org/sa/cv/cccev-2.0.0#" xmlns:dcat-ap="http://data.europa.eu/r5r/"
	xmlns:cac="https://semic.org/sa/cv/common/cac-2.0.0#"
	xmlns:cbc="https://semic.org/sa/cv/common/cbc-2.0.0#"
	xmlns:ccts="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2"
	xmlns:cccev-annotation="https://semic.org/sa/cv/cccev-annotation-2.0.0#"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cagv="https://semic.org/sa/cv/cagv/agent-2.0.0#" xmlns:foaf="http://xmlns.com/foaf/0.1/"
	targetNamespace="https://semic.org/sa/cv/cccev-2.0.0#" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="2.0.0">

	<xsd:import namespace="https://semic.org/sa/cv/common/cac-2.0.0#"
		schemaLocation="../../../../common/2.0.0/xml/xsd/CV-CommonAggregateComponents.xsd"/>
	<xsd:import namespace="https://semic.org/sa/cv/common/cbc-2.0.0#"
		schemaLocation="../../../../common/2.0.0/xml/xsd/CV-CommonBasicComponents.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2"
		schemaLocation="../../../../common/2.0.0/xml/xsd/CCTS_CCT_SchemaModule-2.3.xsd"/>
	<xsd:import namespace="http://data.europa.eu/r5r/"
		schemaLocation="../../../../dcat-ap/2.0.0/xml/dcat-ap.xsd"/>
	<xsd:import namespace="https://semic.org/sa/cv/cagv/agent-2.0.0#"
		schemaLocation="../../../../cagv/2.0.0/xml/xsd/CV-Agent.xsd"/>
	<xsd:import namespace="http://xmlns.com/foaf/0.1/"
		schemaLocation="../../../../foaf/xml/foaf.xsd"/>

	<!-- Declaration of elements -->

	<!-- Data properties declarations -->
	<xsd:element name="amountValue" type="cbc:AmountType"/>
	<xsd:element name="bias" type="cbc:NumericType"/>
	<xsd:element name="codeValue" type="cbc:CodeType"/>
	<xsd:element name="copyIndicator" type="cbc:IndicatorType"/>
	<xsd:element name="confidentialityLevel" type="cbc:CodeType"/>
	<xsd:element name="conformsTo" type="cbc:IDReferenceType"/>
	<xsd:element name="constraintOn" type="cbc:IDReferenceType"/>
	<xsd:element name="representsConcept" type="cbc:IDReferenceType"/>
	<xsd:element name="customDataType" type="cbc:CodeType"/>
	<xsd:element name="customFunction" type="cbc:IDType"/>
	<xsd:element name="dataSetType" type="cbc:CodeType"/>
	<xsd:element name="dateValue" type="cbc:DateType"/>
	<xsd:element name="documentDescription" type="cbc:DescriptionType"/>
	<xsd:element name="documentType" type="cbc:TextType"/>
	<xsd:element name="documentURI" type="cbc:IDType"/>
	<xsd:element name="error" type="cbc:CodeType"/>
	<xsd:element name="identifierValue" type="cbc:IDType"/>
	<xsd:element name="indicatorValue" type="cbc:IndicatorType"/>
	<xsd:element name="inEvidenceTypeList" type="cbc:IDReferenceType"/>
	<xsd:element name="partOf" type="cbc:IDReferenceType"/>
	<xsd:element name="issueDate" type="cbc:DateType"/>
	<xsd:element name="issueTime" type="cbc:TimeType"/>
	<xsd:element name="valueOf" type="cbc:IDReferenceType"/>
	<xsd:element name="languageID" type="cbc:IDType"/>
	<xsd:element name="localeCode" type="cbc:CodeType"/>
	<xsd:element name="measureValue" type="cbc:MeasureType"/>
	<xsd:element name="numericValue" type="cbc:NumericType"/>
	<xsd:element name="quantityValue" type="cbc:QuantityType"/>
	<xsd:element name="evidenceTypology" type="cbc:CodeType"/>
	<xsd:element name="statusCode" type="cbc:CodeType"/>
	<xsd:element name="supportsRequirement" type="cbc:IDReferenceType"/>
	<xsd:element name="supportsConcept" type="cbc:IDReferenceType"/>
	<xsd:element name="textValue" type="cbc:TextType"/>
	<xsd:element name="timeValue" type="cbc:TimeType"/>
	<xsd:element name="uriValue" type="cbc:URIType"/>
	<xsd:element name="valueIDRef" type="cbc:IDType"/>
	<xsd:element name="versionID" type="cbc:IDType"/>
	<xsd:element name="weight" type="cbc:NumericType"/>
	<xsd:element name="weightingConsiderationDescription" type="cbc:DescriptionType"/>
	<xsd:element name="weightingType" type="cbc:CodeType"/>
	<xsd:element name="xPath" type="cbc:TextType"/>

	<!-- Object properties -->

	<xsd:element name="derivedFrom" type="ReferenceFrameworkType">
		<!--<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ObjectProperty>
					<ccts:ComponentType>Object property</ccts:ComponentType>
					<ccts:DictionaryEntryName>derivedFrom. Details</ccts:DictionaryEntryName>
					<ccts:Definition></ccts:Definition>
					<ccts:ObjectClass>ReferenceFrameworkType</ccts:ObjectClass>
					<Domain>Requirement</Domain>
					<Range>Class</Range>
					<Predicate>objectProperty</Predicate>
					<Axiom>ClassA objectProperty ClassB</Axiom>
				</ObjectProperty>
			</xsd:documentation>
		</xsd:annotation>-->
	</xsd:element>
	<xsd:element name="concept" type="ConceptType"/>
	<xsd:element name="evidence" type="EvidenceType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ObjectProperty>
					<ccts:ComponentType>Object property</ccts:ComponentType>
					<ccts:DictionaryEntryName>cccev:evidence. Details</ccts:DictionaryEntryName>
					<ccts:Definition></ccts:Definition>
					<ccts:ObjectClass>cccev:EvidenceType</ccts:ObjectClass>
					<Domain>cccev:Requirement</Domain>
					<Range>cagv:Agent</Range>
					<Range>cccev:Concept</Range>
					<Range>cccev:EvidenceType</Range>
				</ObjectProperty>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="evidenceType" type="EvidenceTypeType"/>
	<xsd:element name="evidenceTypeCombinationList" type="EvidenceTypeListType"/>
	<xsd:element name="constraint" type="ConstraintType"/>
	<xsd:element name="providedBy" type="cbc:IDReferenceType"/>
	<xsd:element name="qualifiedRelation" type="dcat-ap:RelationshipType"/>
	<xsd:element name="requirement" type="RequirementType"/>
	<xsd:element name="value" type="ValueType"/>
	<xsd:element name="periodValue" type="cac:PeriodType"/>
	<xsd:element name="validityPeriod" type="cac:PeriodType"/>
	<xsd:element name="specifiedIn" type="ConceptType"/>

	<!-- Class declarations -->
	<xsd:element name="Concept" type="ConceptType"/>
	<xsd:element name="Constraint" type="ConstraintType"/>
	<xsd:element name="Criterion" type="CriterionType"/>
	<xsd:element name="DocumentReference" type="DocumentReferenceType"/>
	<xsd:element name="EvidenceTypeList" type="EvidenceTypeListType"/>
	<xsd:element name="InformationRequirement" type="InformationRequirementType"/>
	<xsd:element name="PeriodValue" type="cac:PeriodType"/>
	<xsd:element name="ReferenceFramework" type="ReferenceFrameworkType"/>
	<xsd:element name="Requirement" type="RequirementType"/>
	<xsd:element name="Value" type="ValueType"/>

	<!-- Element definition -->

	<xsd:complexType name="ConceptType">
		<xsd:annotation>
			<xsd:documentation>
				<cccev-annotation:Class>
					<ccts:ComponentType>Class</ccts:ComponentType>
					<ccts:DictionaryEntryName>Concept. Details</ccts:DictionaryEntryName>
					<ccts:Definition>
						<DefinitionSource/>
					</ccts:Definition>
					<ccts:ObjectClass>Concept</ccts:ObjectClass>
				</cccev-annotation:Class>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<cccev-annotation:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>ID. Type</ccts:DataType>
						</cccev-annotation:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:name" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<cccev-annotation:DataProperty>
							<ccts:ComponentType>Data property</ccts:ComponentType>
							<ccts:DictionaryEntryName>Concept. Text</ccts:DictionaryEntryName>
							<ccts:Definition>
								<DefinitionSource/>
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Concept</ccts:ObjectClass>
							<ccts:PropertyTerm>Text</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
						</cccev-annotation:DataProperty>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:type" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cbc:QName" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="constraint" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="concept" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="cac:ThingAttributes"/>
	</xsd:complexType>

	<xsd:complexType name="ConstraintType">
		<xsd:complexContent>
			<xsd:extension base="RequirementType">
				<xsd:sequence>
					<xsd:element ref="constraintOn" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CriterionType">
		<xsd:complexContent>
			<xsd:extension base="RequirementType">
				<xsd:sequence>
					<xsd:element ref="weight" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="weightingConsiderationDescription" minOccurs="0"
						maxOccurs="unbounded"/>
					<xsd:element ref="weightingType" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="bias" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DocumentReferenceType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DistributionType">
				<xsd:sequence>
					<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="cbc:uuid" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="documentURI" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="documentDescription" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="statusCode" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="documentType" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="issueDate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="issueTime" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="languageID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="localeCode" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="versionID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="xPath" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="validityPeriod" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EvidenceType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element ref="confidentialityLevel" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="error" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="conformsTo" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="supportsRequirement" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="supportsConcept" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="providedBy" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EvidenceTypeListType">
		<xsd:sequence>
			<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="evidenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="cac:ThingAttributes"/>
	</xsd:complexType>

	<xsd:complexType name="EvidenceTypeType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element ref="evidenceTypology" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="dataSetType" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="specifiedIn" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="InformationRequirementType">
		<xsd:complexContent>
			<xsd:annotation>
				<xsd:documentation>
					<cccev-annotation:Class>
						<ccts:ComponentType>Class</ccts:ComponentType>
						<ccts:DictionaryEntryName>cccev:InformationRequirementType.
							Details</ccts:DictionaryEntryName>
						<ccts:Definition>
							<DefinitionSource/>
						</ccts:Definition>
						<ccts:ObjectClass>cccev:InformationRequirementType</ccts:ObjectClass>
						<cccev-annotation:PrimitiveClass> cccev:RequirementType
						</cccev-annotation:PrimitiveClass>
					</cccev-annotation:Class>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:extension base="RequirementType">
				<xsd:sequence/>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ReferenceFrameworkType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="cac:ThingAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RequirementType" abstract="false">
		<xsd:sequence>
			<xsd:element ref="cbc:id" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:name" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:type" minOccurs="0"/>
			<xsd:element ref="requirement" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="concept" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="evidence" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="evidenceTypeCombinationList" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="partOf" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="qualifiedRelation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="derivedFrom" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="cac:ThingAttributes"/>
	</xsd:complexType>

	<xsd:complexType name="ValueType">
		<xsd:sequence>
			<xsd:element ref="amountValue" minOccurs="0"/>
			<xsd:element ref="codeValue" minOccurs="0"/>
			<xsd:element ref="dateValue" minOccurs="0"/>
			<xsd:element ref="identifierValue" minOccurs="0"/>
			<xsd:element ref="indicatorValue" minOccurs="0"/>
			<xsd:element ref="measureValue" minOccurs="0"/>
			<xsd:element ref="numericValue" minOccurs="0"/>
			<xsd:element ref="quantityValue" minOccurs="0"/>
			<xsd:element ref="textValue" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="timeValue" minOccurs="0"/>
			<xsd:element ref="uriValue" minOccurs="0"/>
			<xsd:element ref="customDataType" minOccurs="0"/>
			<xsd:element ref="customFunction" minOccurs="0"/>
			<xsd:element ref="error" minOccurs="0"/>
			<xsd:element ref="periodValue" minOccurs="0"/>
			<xsd:element ref="valueOf" minOccurs="0"/>
			<xsd:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="cac:ThingAttributes"/>
	</xsd:complexType>
</xsd:schema>
