common/2.0.0/xml/CV-CommonBasicComponents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="https://github.com/semiceu/common/2.0.0/xml/CV-CommonBasicComponents#"
   xmlns:dt="https://github.com/semiceu/common/2.0.0/xml/CV-DataTypes#"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="https://github.com/semiceu/common/2.0.0/xml/CV-CommonBasicComponents#"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   version="2.0.0">
   <!-- ===== Imports ===== -->
   <xsd:import namespace="https://github.com/semiceu/common/2.0.0/xml/CV-DataTypes#" schemaLocation="./CV-DataTypes.xsd"/>
   
   <!-- ==== Element Declaration ==== -->
   <xsd:element name="AdditionalStreetName" type="NameType"/>
   <xsd:element name="Address" type="AddressType"/>
   <xsd:element name="Alias" type="NameType"/>
   <xsd:element name="AlternativeName" type="NameType"/>
   <xsd:element name="AuthoritativeSourceIdRef" type="IDRefType"/>
   <xsd:element name="Bias" type="BiasType"/>
   <xsd:element name="BirthName" type="NameType"/>
   <xsd:element name="BlockName" type="NameType"/>
   <xsd:element name="BuildingName" type="NameType"/>
   <xsd:element name="BuildingNumber" type="BuildingNumberType"/>
   <xsd:element name="CityName" type="NameType"/>
   <xsd:element name="CitySubdivisionName" type="NameType"/>
   <xsd:element name="CountryCode" type="CountryCodeType"/>
   <xsd:element name="CountrySubentity" type="CountrySubentityType"/>
   <xsd:element name="CountrySubentityCode" type="CountrySubentityCodeType"/>
   <xsd:element name="CreatorIdRef" type="IDRefType"/>
   <xsd:element name="DateOfBirth" type="DateOfBirthType"/>
   <xsd:element name="DateOfDeath" type="DateOfDeathType"/>
   <xsd:element name="Department" type="DepartmentType"/>
   <xsd:element name="Description" type="DescriptionType"/>
   <xsd:element name="DescriptionCode" type="DescriptionCodeType"/>
   <xsd:element name="DurationMeasure" type="DurationMeasureType"/>
   <xsd:element name="EndDate" type="EndDateType"/>
   <xsd:element name="EndTime" type="EndTimeType"/>
   <xsd:element name="EvaluationMethod" type="EvaluationMethodType"/>
   <xsd:element name="FamilyName" type="NameType"/>
   <xsd:element name="FullName" type="NameType"/>
   <xsd:element name="Floor" type="FloorType"/>
   <xsd:element name="Gender" type="GenderType"/>
   <xsd:element name="GeographicName" type="NameType"/>
   <xsd:element name="GeographicIdentifier" type="URIType"/>
   <xsd:element name="GivenName" type="NameType"/>
   <xsd:element name="ID" type="IDRefType"/>
   <xsd:element name="IRI" type="IRIType"/>
   <xsd:element name="PublisherIdRef" type="IDRefType"/>
   <xsd:element name="ProviderIdRef" type="IDRefType"/>
   <xsd:element name="SourceCriterionIdRef" type="IDRefType"/>
   <xsd:element name="TargetCriterionIdRef" type="IDRefType"/>
   <xsd:element name="FromReferenceFrameWorkIdRef" type="IDRefType"/>
   <xsd:element name="Modified" type="ModifiedType"/>
   <xsd:element name="Issued" type="IssuedType"/>
   <xsd:element name="Name" type="NameType"/>
   <xsd:element name="MatchingEvidenceTypeIdRef" type="IDRefType"/>
   <xsd:element name="ProvidedEvidenceIdRef" type="IDRefType"/>
   <xsd:element name="RequiredEvidenceTypeIdRef" type="IDRefType"/>		
   <xsd:element name="StartDate" type="StartDateType"/>
   <xsd:element name="StartTime" type="StartTimeType"/>
   <xsd:element name="SubClassType" type="DescriptionType"/>
   <xsd:element name="Title" type="TitleType"/>
   <xsd:element name="Type" type="TypeType"/>
   <xsd:element name="VersionInfo" type="VersionInfoType"/>
   <xsd:element name="Weight" type="WeightType"/>
   <xsd:element name="WeightingConsiderationDescription" type="WeightingConsiderationDescriptionType"/>
   <xsd:element name="PatronymicName" type="NameType"/>
   <xsd:element name="Wkt" type="WktType"/>
   <xsd:element name="Lat" type="LatType"/>
   <xsd:element name="Long" type="LongType"/>
   <xsd:element name="District" type="DistrictType"/>
   <xsd:element name="PostalAddressIdRef" type="IDRefType"/>
   <xsd:element name="InhouseMail" type="InhouseMailType"/>
   <xsd:element name="MarkAttention" type="MarkAttentionType"/>
   <xsd:element name="MarkCare" type="MarkCareType"/>
   <xsd:element name="PlotIdentification" type="PlotIdentificationType"/>
   <xsd:element name="PostalZone" type="PostalZoneType"/>
   <xsd:element name="PostBox" type="PostBoxType"/>
   <xsd:element name="Region" type="RegionType"/>
   <xsd:element name="Room" type="DepartmentType"/>
   <xsd:element name="StreetName" type="NameType"/>
   <xsd:element name="TimezoneOffset" type="TimezoneOffsetType"/>
   
   <!-- ===== Entity Type Definitions ===== -->
   
   <xsd:complexType name="IRIType">
      <xsd:simpleContent>
         <xsd:extension base="dt:URIType"/>
      </xsd:simpleContent>
      
   </xsd:complexType>
   <xsd:complexType name="TimezoneOffsetType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RoomType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RegionType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PostBoxType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PostalZoneType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PlotIdentificationType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MarkCareType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MarkAttentionType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InhouseMailType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FloorType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LongType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LatType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="WktType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DistrictType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DepartmentType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CountrySubentityCodeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CountrySubentityType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CountryCodeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BuildingNumberType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AddressType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GeographicIdentifier">
      <xsd:simpleContent>
         <xsd:extension base="dt:URIType"/>
      </xsd:simpleContent>
   </xsd:complexType>   
   <xsd:complexType name="DateOfDeathType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DateOfBirthType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GenderType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TitleType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="WeightingConsiderationDescriptionType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VersionInfoType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ModifiedType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateTimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IssuedType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateTimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
      <xsd:complexType name="BiasType">
      <xsd:simpleContent>
         <xsd:extension base="dt:NumericType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CodeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DateTimeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateTimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DescriptionType">      
      <xsd:simpleContent>
         <xsd:restriction base="dt:TextType"/>         
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DescriptionCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DurationMeasureType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:MeasureType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EndDateType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EndTimeType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:TimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EvaluationMethodType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IDRefType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NameType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="StartDateType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ReferenceIDType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="StartTimeType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:TimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TextType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TypeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="URIType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>   
   <xsd:complexType name="WeightType">
      <xsd:simpleContent>
         <xsd:extension base="dt:NumericType"/>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>   

