common/2.0.0/xml/CV-CommonBasicComponents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="https://semic.org/sa/cv/common/cbc-2.0.0#"
   xmlns:dt="https://semic.org/sa/cv/common/dataTypes-2.0.0#"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="https://semic.org/sa/cv/common/cbc-2.0.0#"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   version="2.0.0">
   <!-- ===== Imports ===== -->
   <xsd:import namespace="https://semic.org/sa/cv/common/dataTypes-2.0.0#" schemaLocation="./CV-DataTypes.xsd"/>
   
   <!-- ==== Element Declaration ==== -->
   <xsd:element name="AdditionalStreetName" type="NameType"/>
   <xsd:element name="Address" type="AddressType"/>
   <xsd:element name="AddressFormatCode" type="AddressFormatCodeType"/>
   <xsd:element name="AddressTypeCode" type="AddresTypeCodeType"/>
   <xsd:element name="AddressLine" type="AddressLineType"/>
   <xsd:element name="Alias" type="NameType"/>
   <xsd:element name="AlternativeName" type="NameType"/>
   <xsd:element name="Amount" type="AmountType"/>
   <xsd:element name="Bias" type="BiasType"/>
   <xsd:element name="BinaryObject" type="BinaryObjectType"/>
   <xsd:element name="BirthName" type="NameType"/>
   <xsd:element name="BlockName" type="NameType"/>
   <xsd:element name="BuildingName" type="NameType"/>
   <xsd:element name="BuildingNumber" type="BuildingNumberType"/>
   <xsd:element name="CityName" type="NameType"/>
   <xsd:element name="CitySubdivisionName" type="NameType"/>
   <xsd:element name="Code" type="CodeType"/>
   <xsd:element name="CountryCode" type="CountryCodeType"/>
   <xsd:element name="CountrySubentity" type="CountrySubentityType"/>
   <xsd:element name="CountrySubentityCode" type="CountrySubentityCodeType"/>
   <xsd:element name="CopyIndicator" type="CopyIndicatorType"/>
   <xsd:element name="Date" type="dt:DateType"/>
   <xsd:element name="DateOfBirth" type="DateOfBirthType"/>
   <xsd:element name="DateOfDeath" type="DateOfDeathType"/>
   <xsd:element name="Department" type="DepartmentType"/>
   <xsd:element name="Description" type="DescriptionType"/>
   <xsd:element name="DescriptionCode" type="DescriptionCodeType"/>
   <xsd:element name="DurationMeasure" type="DurationMeasureType"/>
   <xsd:element name="EndDate" type="EndDateType"/>
   <xsd:element name="EndTime" type="EndTimeType"/>
   <xsd:element name="EvaluationMethod" type="EvaluationMethodType"/>
   <xsd:element name="FamilyName" type="NameType"/>
   <xsd:element name="FullName" type="NameType"/>
   <xsd:element name="Floor" type="FloorType"/>
   <xsd:element name="Gender" type="GenderType"/>
   <xsd:element name="GeographicName" type="NameType"/>
   <xsd:element name="GeographicIdentifier" type="URIType"/>
   <xsd:element name="GivenName" type="NameType"/>
   <xsd:element name="ID" type="IDType"/>
   <xsd:element name="Indicator" type="IndicatorType"/>
   <xsd:element name="IRI" type="IRIType"/>
   <xsd:element name="Issued" type="IssuedType"/>
   <xsd:element name="Modified" type="ModifiedType"/>
   <xsd:element name="Name" type="NameType"/>
   <xsd:element name="Quantity" type="QuantityType"/>
   <xsd:element name="RefID" type="ReferenceIDType"/>
   <xsd:element name="StartDate" type="StartDateType"/>
   <xsd:element name="StartTime" type="StartTimeType"/>
   <xsd:element name="SubClassIRI" type="IRIType"/>
   <xsd:element name="Text" type="dt:TextType"/>
   <xsd:element name="Title" type="TitleType"/>
   <xsd:element name="Time" type="TimeType"/>
   <xsd:element name="Type" type="TypeType"/>
   <xsd:element name="URI" type="dt:URIType"/>
   <xsd:element name="VersionInfo" type="VersionInfoType"/>
   <xsd:element name="Weight" type="WeightType"/>
   <xsd:element name="WeightingConsiderationDescription" type="WeightingConsiderationDescriptionType"/>
   <xsd:element name="PatronymicName" type="NameType"/>
   <xsd:element name="Wkt" type="WktType"/>
   <xsd:element name="Lat" type="LatType"/>
   <xsd:element name="Long" type="LongType"/>
   <xsd:element name="District" type="DistrictType"/>
   <xsd:element name="Postbox" type="PostBoxType"/>
   <xsd:element name="InhouseMail" type="InhouseMailType"/>
   <xsd:element name="MarkAttention" type="MarkAttentionType"/>
   <xsd:element name="MarkCare" type="MarkCareType"/>
   <xsd:element name="MimeType" type="MimeTypeCodeType"/>
   <!--<xsd:element name="Period" type="ubl:Period"/>-->
   <xsd:element name="PlotIdentification" type="PlotIdentificationType"/>
   <xsd:element name="PostalZone" type="PostalZoneType"/>
   <xsd:element name="PostBox" type="PostBoxType"/>
   <xsd:element name="Region" type="RegionType"/>
   <xsd:element name="Room" type="DepartmentType"/>
   <xsd:element name="StreetName" type="NameType"/>
   <xsd:element name="TimezoneOffset" type="TimezoneOffsetType"/>
   
   <!-- ===== Entity Type Definitions ===== -->
   <xsd:complexType name="AddressLineType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AddressFormatCodeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AddresTypeCodeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AmountType">
      <xsd:simpleContent>
         <xsd:extension base="dt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CopyIndicatorType">
      <xsd:simpleContent>
         <xsd:extension base="dt:IndicatorType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   
   <xsd:complexType name="BinaryObjectType">
      <xsd:simpleContent>
         <xsd:extension base="dt:BinaryObjectType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   
   <xsd:complexType name="IRIType">
      <xsd:simpleContent>
         <xsd:extension base="dt:URIType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MimeTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="dt:CodeType">
        <xsd:attribute name="priority" type="xsd:decimal" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>   
   <xsd:complexType name="TimezoneOffsetType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RoomType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RegionType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PostBoxType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PostalZoneType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PlotIdentificationType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MarkCareType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MarkAttentionType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InhouseMailType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FloorType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LongType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LatType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="WktType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DistrictType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DepartmentType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CountrySubentityCodeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CountrySubentityType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CountryCodeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BuildingNumberType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AddressType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GeographicIdentifier">
      <xsd:simpleContent>
         <xsd:extension base="dt:URIType"/>
      </xsd:simpleContent>
   </xsd:complexType>   
   <xsd:complexType name="DateOfDeathType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DateOfBirthType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GenderType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TitleType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TimeType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:TimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="WeightingConsiderationDescriptionType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VersionInfoType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ModifiedType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateTimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IssuedType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateTimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
      <xsd:complexType name="BiasType">
      <xsd:simpleContent>
         <xsd:extension base="dt:NumericType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CodeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DateTimeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:DateTimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DescriptionType">      
      <xsd:simpleContent>
         <xsd:restriction base="dt:TextType"/>         
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DescriptionCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DurationMeasureType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:MeasureType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EndDateType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EndTimeType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:TimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EvaluationMethodType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IDType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType> 
   <xsd:complexType name="IndicatorType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:IndicatorType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="QuantityType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:QuantityType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NameType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="StartDateType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ReferenceIDType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="StartTimeType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:TimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TextType">
      <xsd:simpleContent>
         <xsd:extension base="dt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TypeType">
      <xsd:simpleContent>
         <xsd:extension base="dt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="URIType">
      <xsd:simpleContent>
         <xsd:restriction base="dt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>   
   <xsd:complexType name="WeightType">
      <xsd:simpleContent>
         <xsd:extension base="dt:NumericType"/>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>   

