cccev/2.0.0/xml/cccev-2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="https://semic.org/sa/cv/cccev-2.0.0#"
	xmlns:dcat-ap="http://data.europa.eu/r5r/"
	xmlns:cac="https://semic.org/sa/cv/common/cac-2.0.0#"
	xmlns:cbc="https://semic.org/sa/cv/common/cbc-2.0.0#"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cagv="https://semic.org/sa/cv/cagv/agent-2.0.0#"
	targetNamespace="https://semic.org/sa/cv/cccev-2.0.0#" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="2.0.0">
	
	<xsd:import namespace="https://semic.org/sa/cv/common/cac-2.0.0#"
		schemaLocation="../../../common/2.0.0/xml/CV-CommonAggregateComponents.xsd"/>
	<xsd:import namespace="https://semic.org/sa/cv/common/cbc-2.0.0#"
		schemaLocation="../../../common/2.0.0/xml/CV-CommonBasicComponents.xsd"/>
	<xsd:import namespace="http://data.europa.eu/r5r/"
		schemaLocation="../../../dcat-ap/2.0.0/xml/dcat-ap.xsd"/>
	<xsd:import namespace="https://semic.org/sa/cv/cagv/agent-2.0.0#"
		schemaLocation="../../../cagv/2.0.0/xml/CV-Agent.xsd" />

	<!-- Element declaration -->
	<xsd:element name="Agent" type="cagv:AgentType"/>
	<xsd:element name="AssociatedRole" type="cagv:RoleType"/>
	<xsd:element name="AmountValue" type="cbc:AmountType"/>
	<xsd:element name="ProcessingInstruction" type="cbc:CodeType"/>
	<xsd:element name="Bias" type="cbc:NumericType"/>
	<xsd:element name="CodeValue" type="cbc:CodeType"/>
	<xsd:element name="Concept" type="ConceptType"/>
	<xsd:element name="Constraint" type="ConstraintType"/>
	<xsd:element name="ConstraintIDRef" type="cbc:IDType"/>
	<xsd:element name="CopyIndicator" type="cbc:IndicatorType"/>
	<xsd:element name="Criterion" type="CriterionType"/>
	<xsd:element name="ConceptIDRef" type="cbc:IDType"/>
	<xsd:element name="ConfidentialityLevel" type="cbc:CodeType"/>
	<xsd:element name="CustomDataType" type="cbc:CodeType"/>
	<xsd:element name="CustomFunction" type="cbc:IDType"/>
	<xsd:element name="DataSetType" type="cbc:CodeType"/>
	<xsd:element name="DateValue" type="cbc:DateTimeType"/>
	<xsd:element name="DocumentDescription" type="cbc:DescriptionType"/>
	<xsd:element name="DocumentReference" type="DocumentReferenceType"/>
	<xsd:element name="DocumentType" type="cbc:TextType"/>
	<xsd:element name="DocumentTypeCode" type="cbc:CodeType"/>
	<xsd:element name="DocumentURI" type="cbc:IDType"/>
	<xsd:element name="Error" type="cbc:CodeType"/>
	<xsd:element name="Evidence" type="EvidenceType"/>
	<xsd:element name="EvidenceIDRef" type="cbc:IDType"/>
	<xsd:element name="EvidenceType" type="EvidenceTypeType"/>
	<xsd:element name="RepresentationType" type="cbc:CodeType"/>
	<xsd:element name="EvidenceTypeIDRef" type="cbc:IDType"/>
	<xsd:element name="EvidenceTypeList" type="EvidenceTypeListType"/>
	<xsd:element name="FromReferenceFrameWork" type="cac:ReferenceFrameworkType"/>
	<xsd:element name="IdentifierValue" type="cbc:IDType"/>
	<xsd:element name="InformationRequirement" type="InformationRequirementType"/>
	<xsd:element name="InformationRequirementIDRef" type="cbc:IDType"/>
	<xsd:element name="IndicatorValue" type="cbc:IndicatorType"/>
	<xsd:element name="IssueDate" type="cbc:DateTimeType"/>
	<xsd:element name="IssueTime" type="cbc:TimeType"/>
	<xsd:element name="LanguageID" type="cbc:IDType"/>
	<xsd:element name="LocaleCode" type="cbc:CodeType"/>
	<xsd:element name="Namespace" type="cbc:IRIType"/>
	<xsd:element name="NumericValue" type="cbc:NumericType"/>
	<xsd:element name="ParentCriterionRelation" type="cbc:CodeType"/>
	<xsd:element name="PeriodValue" type="cac:PeriodType"/>
	<xsd:element name="PreferredMIMEType" type="cbc:CodeType"/>
	<xsd:element name="ProvidedBy" type="cagv:RegisteredOrganizationType"/>
	<xsd:element name="QualifiedRelation" type="dcat-ap:RelationshipType"/>
	<xsd:element name="QuantityValue" type="cbc:QuantityType"/>
	<xsd:element name="ReferenceFramework" type="ReferenceFrameworkType"/>
	<xsd:element name="ReferenceFrameworkIDRef" type="cbc:IDType"/>
	<xsd:element name="RequirementIDRef" type="cbc:IDType"/>
	<xsd:element name="Requirement" type="RequirementType"/>
	<xsd:element name="StatusCode" type="cbc:CodeType"/>
	<xsd:element name="TextValue" type="cbc:TextType"/>
	<xsd:element name="TimeValue" type="cbc:TimeType"/>
	<xsd:element name="Type" type="cbc:TypeType"/>
	<xsd:element name="URIValue" type="cbc:URIType"/>
	<xsd:element name="UUID" type="cbc:IDType"/>
	<xsd:element name="Value" type="ValueType"/>
	<xsd:element name="ValueIDRef" type="cbc:IDType"/>
	<xsd:element name="VersionID" type="cbc:IDType"/>
	<xsd:element name="Weight" type="cbc:NumericType"/>
	<xsd:element name="WeightingConsiderationDescription" type="cbc:DescriptionType"/>
	<xsd:element name="WeightingType" type="cbc:CodeType"/>
	<xsd:element name="xPath" type="cbc:TextType"/>
	
	<!--Foaf attributes-->
	
	<xsd:attributeGroup name="foafDocumentAttributes">
		<xsd:attribute name="topic" type="xsd:normalizedString"/>
		<xsd:attribute name="primaryTopic" type="xsd:normalizedString"/>
		<xsd:attribute name="sha1" type="xsd:hexBinary"/>
	</xsd:attributeGroup>
	

	<!-- Element definition -->
	
	<xsd:complexType name="ConceptType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Name" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cbc:Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Code" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Concept" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Namespace" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Evidence" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Value" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Constraint" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConstraintType">
		<xsd:complexContent>
			<xsd:extension base="RequirementType">
				<xsd:sequence>
					<xsd:element ref="ConceptIDRef" minOccurs="0" maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>		
	</xsd:complexType>

	<xsd:complexType name="CriterionType">
		<xsd:complexContent>
			<xsd:extension base="RequirementType">
				<xsd:sequence>
					<xsd:element ref="Weight" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="WeightingConsiderationDescription" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="WeightingType" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="Bias" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Agent" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>	
	</xsd:complexType>

	<xsd:complexType name="DocumentReferenceType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DistributionType">
				<xsd:sequence>					
					<xsd:element ref="DocumentURI" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="CopyIndicator" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="cbc:UUID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="DocumentDescription" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="StatusCode" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="DocumentType" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="DocumentTypeCode" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="IssueDate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="IssueTime" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="LanguageID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="LocaleCode" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="VersionID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="xPath" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="AssociatedRole" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="foafDocumentAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="EvidenceType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element ref="ConfidentialityLevel" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="InformationRequirementIDRef" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="EvidenceTypeIDRef" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ConceptIDRef" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ProvidedBy" minOccurs="0" maxOccurs="1"/>
 				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EvidenceTypeListType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="EvidenceTypeIDRef" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AssociatedRole" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EvidenceTypeType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element ref="RepresentationType" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="DataSetType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="InformationRequirementType">
		<xsd:complexContent>
			<xsd:extension base="RequirementType">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>	
	</xsd:complexType>
	
	<xsd:complexType name="ReferenceFrameworkType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RequirementType" abstract="false">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Name" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Type" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="ProcessingInstruction" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Concept" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="EvidenceTypeList" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="QualifiedRelation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Requirement" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RequirementIDRef" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ReferenceFramework" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ValueType">
		<xsd:sequence>
			<xsd:element ref="AmountValue" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="CodeValue" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="DateValue" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="IdentifierValue" minOccurs="0" maxOccurs="1"/>	
			<xsd:element ref="IndicatorValue" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="NumericValue" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="QuantityValue" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="TextValue" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="TimeValue" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="URIValue" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="PeriodValue" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="CustomDataType" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="CustomFunction" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Error" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="ConceptIDRef" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
