cccev/2.0.0/xml/cccev-2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- the CAV namespace has not been created yet, hence the same node number for the cccev and the cav, for the time being -->
<xsd:schema xmlns="https://semic.org/sa/cv/cccev-2.0.0#"
	xmlns:dcat-ap="http://data.europa.eu/r5r/"
	xmlns:cac="https://semic.org/sa/cv/common/cac-2.0.0#"
	xmlns:cbc="https://semic.org/sa/cv/common/cbc-2.0.0#"
	xmlns:cv-dt="https://semic.org/sa/cv/common/dataTypes-2.0.0#"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://semic.org/sa/cv/cccev-2.0.0#" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="2.0.0">
	
	<xsd:import namespace="https://semic.org/sa/cv/common/cac-2.0.0#"
		schemaLocation="../../../common/2.0.0/xml/CV-CommonAggregateComponents.xsd"/>
	<xsd:import namespace="https://semic.org/sa/cv/common/cbc-2.0.0#"
		schemaLocation="../../../common/2.0.0/xml/CV-CommonBasicComponents.xsd"/>
	<xsd:import namespace="http://data.europa.eu/r5r/"
		schemaLocation="../../../dcat-ap/2.0.0/xml/dcat-ap.xsd"/>

	<!-- Element declaration -->
	<xsd:element name="Concept" type="ConceptType"/>
	<xsd:element name="Constraint" type="ConstraintType"/>
	<xsd:element name="Criterion" type="CriterionType"/>
	<xsd:element name="ConceptIDRef" type="cbc:IDType"/>
	<xsd:element name="RepresentedByIDRef" type="cbc:IDType"/>
	<xsd:element name="Evidence" type="EvidenceType"/>
	<xsd:element name="EvidenceType" type="EvidenceTypeType"/>
	<xsd:element name="EvidenceTypeIDRef" type="cbc:IDType"/>
	<xsd:element name="FromReferenceFrameWork" type="cac:ReferenceFrameworkType"/>
	<xsd:element name="Requirement" type="RequirementType"/>
	<xsd:element name="EvidenceTypeList" type="EvidenceTypeListType"/>
	<xsd:element name="PeriodValue" type="cac:PeriodType"/>
	<xsd:element name="SubCriterion" type="CriterionType"/>
	<xsd:element name="EvidenceIDRef" type="EvidenceType"/>
	<xsd:element name="RequirementIDRef" type="RequirementType"/>
	<xsd:element name="Value" type="ValueType"/>

	<!-- Element definition -->
	
	<xsd:complexType name="ConceptType">
		<xsd:sequence>
			<xsd:element ref="Concept" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RepresentedByIDRef" type="cbc:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Name" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CustomDataType" type="cbc:CodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Namespace" type="cbc:IRIType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Datum" type="ValueType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConstraintType">
		<xsd:complexContent>
			<xsd:extension base="RequirementType"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CriterionType">
		<xsd:sequence>
			<xsd:element ref="cbc:Bias" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="GlobalConstraint" type="ConstraintType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:EvaluationMethod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Name" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ParentCriterionRelation" type="cbc:CodeType" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Requirement" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SubCriterion" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Weight" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:WeightingConsiderationDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="WeightingType" type="cbc:CodeType" minOccurs="0" maxOccurs="1"/>			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EvidenceType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element name="ConfidentialityLevel" type="cbc:CodeType" minOccurs="0"
						maxOccurs="1"/>
					<xsd:element ref="EvidenceTypeIDRef" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="RequirementIDRef" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EvidenceTypeListType">
		<xsd:sequence>
			<xsd:element ref="EvidenceType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EvidenceTypeType">
		<xsd:complexContent>
			<xsd:extension base="dcat-ap:DatasetType">
				<xsd:sequence>
					<xsd:element ref="ConceptIDRef" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="preferredMIME" type="cbc:CodeType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ValueType">
		<xsd:sequence>
			<xsd:element ref="cbc:Amount" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cbc:Code" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cbc:Date"/>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cbc:Indicator" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cbc:Quantity" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cbc:Text" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Time" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cbc:URI" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cac:Period" minOccurs="0" maxOccurs="1"/>			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RequirementType">
		<xsd:sequence>
			<xsd:element ref="cbc:Description"/>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="EvidenceIDRef" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InformationRequirementConstraint" type="ConstraintType"
				minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Name" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RequiresConcept" type="ConceptType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RequiresEvidenceTypeList" type="EvidenceTypeListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SubRequirement" type="RequirementType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Type" minOccurs="0" maxOccurs="unbounded"/>	
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
