cagv/2.0.0/xml/CV-Agent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- the default and target namespaces are temporary until a final (P)URI policy is defined and adopted. -->
<xsd:schema xmlns="https://github.com/semiceu/cagv/2.0.0/xml/CV-Agent#"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:dct="http://purl.org/dc/terms/"
	xmlns:foaf="http://xmlns.com/foaf/"
	xmlns:cbc="https://github.com/semiceu/common/2.0.0/xml/CV-CommonBasicComponents#"
	
	targetNamespace="https://github.com/semiceu/cagv/2.0.0/xml/CV-Agent#" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" version="2.0.0">

	<xsd:import
	namespace="http://purl.org/dc/terms/"
	schemaLocation="../../../common/2.0.0/xml/dcterms.xsd"/>
	
	<xsd:import
		namespace="http://xmlns.com/foaf/"
		schemaLocation="../xml/foaf.xsd"/>
	
	<xsd:import
		namespace="https://github.com/semiceu/common/2.0.0/xml/CV-CommonBasicComponents#"
		schemaLocation="../../../common/2.0.0/xml/CV-CommonBasicComponents.xsd"/>
	
	<!-- Element declaration -->
	<xsd:element name="Agent" type="AgentType"/>
	<xsd:element name="Organization" type="OrganizationType"/>
	
	
	<!-- Element definition -->
	<xsd:complexType name="AgentType">
		<xsd:complexContent>
			<xsd:extension base="dct:AgentType">
				<xsd:sequence>
					<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="cbc:Alias" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="cbc:SubClassType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>		
	</xsd:complexType>
	
	<xsd:complexType name="OrganizationType">
		<xsd:complexContent>
			<xsd:extension base="org:OrganizationType">
				<xsd:sequence>
					<!--xsd:element ref="cbc:XXX" minOccurs="0" maxOccurs="unbounded"/-->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>		
	</xsd:complexType>
	
</xsd:schema>
