dcat-ap/2.0.0/xml/dcat-ap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- the CAV namespace has not been created yet, hence the same node number for the cccev and the cav, for the time being -->
<xsd:schema xmlns="http://data.europa.eu/r5r/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cbc="https://semic.org/sa/cv/common/cbc-2.0.0#"
	xmlns:dct="http://purl.org/dc/terms/"
	xmlns:dt="https://semic.org/sa/cv/common/dataTypes-2.0.0#"
	xmlns:skos="http://purl.org/dc/terms/"
	targetNamespace="http://data.europa.eu/r5r/" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" version="2.0.0">

	<xsd:import namespace="https://semic.org/sa/cv/common/dataTypes-2.0.0#" schemaLocation="../../../common/2.0.0/xml/CV-DataTypes.xsd"/>
	<xsd:import namespace="http://purl.org/dc/terms/" schemaLocation="../../../common/2.0.0/xml/dcterms.xsd"/>
	<xsd:import namespace="https://semic.org/sa/cv/common/cbc-2.0.0#"
		schemaLocation="../../../common/2.0.0/xml/CV-CommonBasicComponents.xsd"/>
	
	<xsd:import namespace="http://purl.org/dc/terms/" schemaLocation="../../../common/2.0.0/xml/skos.xsd"/>
  
	<xsd:element name="Dataset" type="DatasetType"/>
	<xsd:element name="DatasetService" type="DataServiceType"/>
	<xsd:element name="Distribution" type="DistributionType"/>
	<xsd:element name="Issued" type="dt:DateTimeType"/>
	<xsd:element name="AccessURL" type="dt:URIType"/>
	<xsd:element name="DownloadURL" type="dt:URIType"/>
	<xsd:element name="Relationship" type="RelationshipType"/>
	<xsd:element name="Role" type="RoleType"/>

	<xsd:complexType name="DatasetType">
		<xsd:sequence>
			<xsd:element ref="dct:Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Distribution" type="DistributionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="QualifiedRelation" type="RelationshipType" minOccurs="0"/>
			<xsd:element ref="dct:Title" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DataServiceType">
		<xsd:sequence>
			<xsd:element name="endpointDescription" type="DistributionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="endpointURL" type="dt:URIType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Dataset" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DistributionType">
		<xsd:sequence>
			<xsd:element ref="Issued" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="dct:Title" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="dct:Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AccessURL" minOccurs="0"/>
			<xsd:element ref="DownloadURL" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RelationshipType">
		<xsd:sequence>
			<xsd:element name="RelatedDatasetIDRef" type="cbc:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Role" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RoleType">
		<xsd:sequence/>
	</xsd:complexType>
</xsd:schema>
