dcat-ap/2.0.0/xml/dcat-ap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- the CAV namespace has not been created yet, hence the same node number for the cccev and the cav, for the time being -->
<xsd:schema xmlns="https://github.com/everis-semic/dcat-ap/2.0.0/xml/CV-DCAT-AP#"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:dt="https://github.com/semiceu/common/2.0.0/xml/CV-DataTypes#"
	xmlns:dct="http://purl.org/dc/terms/"
	targetNamespace="https://github.com/everis-semic/dcat-ap/2.0.0/xml/CV-DCAT-AP#" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" version="2.0.0">

	<xsd:import namespace="https://github.com/semiceu/common/2.0.0/xml/CV-DataTypes#" schemaLocation="../../../common/2.0.0/xml/CV-DataTypes.xsd"/>
	<xsd:import namespace="http://purl.org/dc/terms/" schemaLocation="../../../common/2.0.0/xml/dcterms.xsd"/>
  
	<xsd:element name="Dataset" type="DatasetType"/>
	<xsd:element name="Distribution" type="DistributionType"/>
	<xsd:element name="Issued" type="dt:DateTimeType"/>
	<xsd:element name="AccessURL" type="dt:URIType"/>
	<xsd:element name="DownloadURL" type="dt:URIType"/>

	<xsd:complexType name="DatasetType">
		<xsd:sequence>
			<xsd:element name="Distribution" type="DistributionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="dct:Title" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element ref="dct:Description" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>	

	<xsd:complexType name="DistributionType">
		<xsd:sequence>
			<xsd:element ref="Issued" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="dct:Title" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="dct:Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AccessURL"/>
			<xsd:element ref="DownloadURL" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>	

</xsd:schema>
